{% extends 'base.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block header %}
    Welcome to Sentiment Analysis
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">YouTube Comments</h5>
                    <p class="card-text">Enter a YouTube video link to analyze comments.</p>
                    <form method="post" action="{% url 'analysis_view' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="youtube_link">YouTube Video URL:</label>
                            <input type="text" class="form-control" id="youtube_url" name="youtube_url"
                                   placeholder="Enter YouTube Video URL">
                        </div>
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
